/*CSS RESET BDB88 - HTML5 DOCTOR */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* CSS RESET END*/

html, body{
    background: #494A4A;
    margin: 0;
    padding: 0;
    height: 100%;
    
}
nav {
    background-color: rgba(121,174,7,1.00);
	background-image: 
		linear-gradient(90deg, rgba(235,231,23,1.00) 28%, rgba(122,189,65,1.00) 92%);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 8vh;
    z-index: 2;
}
nav a {
    font-family: Arvo;
    font-size: 1.5em;
    color: black;
}
#head{
    padding: 3.1vh;
    background-color: black;
    width: auto;
    
}

nav a img{
    background-color: none;
    padding-right: 50%; 
    
}
#logo{
    z-index: 1;
    position: fixed;
    
}
.logo{
    z-index: 1;
    height: 50%;
    margin-left: 25%;
    margin-top: 10%;
        

    
    
}
.slider{
    position:relative; 
    height: auto;
    width: 100%;
    

}
.slider article img{
    
    position:absolute;
    max-height: 100%;
    left:0;   
    opacity:0; 
    animation-name: fade; 
    animation-duration: 26s; 
    animation-iteration-count: infinite;
   
}
.slider article img:nth-child(1){
    animation-delay: 0s;
}
.slider article img:nth-child(2){
    animation-delay: 6s;  
}
.slider article img:nth-child(3){
    animation-delay: 12s;
}
.slider article img:nth-child(4){
    animation-delay: 18s;  
}
.slider article img:nth-child(5){
    animation-delay: 24s;
}



@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}


section:nth-child(2) {
    display: flex;
    height: 55vw;
    background-image: url(../img/darkness.png);
    margin: 0;
    padding: 0;
    top: 8vh;
}


section:nth-child(3) {
    box-sizing: border-box;
    
    min-height: 100%;
    background-image: url(../img/darkness.png);
    padding: 10%;
}

h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 8em;
    color: beige;
    text-align: center;
    
}

section:nth-child(3) article:nth-child(2) {
    margin-top: 6vh;
}

.planes{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5vh;
    
    
}
small{
    font-size: 0.4em;
    
}

section p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 3.5em;
    text-align: center;
    color: beige;
}

section:nth-child(4) {
    display: flex;
    height: 55vw;
    background-image: url(../img/darkness.png);
    margin: 0;
    padding: 0;
}
.slider2{
    position:relative; 
    height: auto;
    width: 100%;
    

}
.slider2 article img{
    
    position:absolute;
    max-height: 100%;
    left:0;   
    opacity:0; 
    animation-name: fade2; 
    animation-duration: 26s; 
    animation-iteration-count: infinite;
   
}
.slider2 article img:nth-child(1){
    animation-delay: 0s;
}
.slider2 article img:nth-child(2){
    animation-delay: 6s;  
}
.slider2 article img:nth-child(3){
    animation-delay: 12s;
}
.slider2 article img:nth-child(4){
    animation-delay: 18s;  
}
.slider2 article img:nth-child(5){
    animation-delay: 24s;
}



@keyframes fade2 {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}

.marcas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    background-color: rgba(121,174,7,1.00);
    

}

.marcas img {
    height: 20%;
    width: 15%;
}

.equipogeneral {
    background-image: url(../img/darkness.png);
    min-height: 100%;
    padding: 5%;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}
.titu{
    background-image: url(../img/darkness.png);
    padding-top: 5%
}
.equipo{
    text-align: left;
    font-size: 2em;
}

body section article img{
    width: 100%;
    position: relative;
}

body footer{
     background-color: #79AE07;
    
}

footer address{
    padding: 3%;
    font-family: 'Fjalla One';
    font-size: 2vw;
    text-align: center;
        
}

@media all and (max-width : 768px) {
    
    .planes{
   
    display: flex;
        flex-direction: column;
    }
        
    section:nth-child(3){
        height: auto;
    }
    section p{
        font-size: 3em;
    }
    
    h2{
       font-size: 6em;
    }
    .equipogeneral{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
}

