
html, body{
    background: #494A4A;
    margin: 0;
    padding: 0;
    height: 80%;
    
}
nav {
     background-color: rgba(121,174,7,1.00);
	background-image: 
		linear-gradient(90deg, rgba(235,231,23,1.00) 28%, rgba(122,189,65,1.00) 92%);
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#head{
    padding: 2%;
    background-color: black;
    height: 100%;
    width: auto;
    
}

nav a img{
    background-color: none;
    padding: 3%;
    padding-right:100%;
    
}

section{
    
  display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    background-image: url(../img/darkness.png);
    margin: 0;
    padding: 0;

    

}

section p {
    padding: 1%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 7vw;
    text-align: center;
    color: beige
}


body section article img{
    width: 100%;
    
}

body footer{
     background-color: #79AE07;
    
}

footer address{
    padding: 3%;
    font-family: 'Fjalla One';
    font-size: 2vw;
    text-align: center;
        
}
